sense2gol_pizero/output/*.txt
sense2gol_pizero/output/*.json
sense2gol_pizero/output/*.png
sense2gol_pizero/output/*.pdf

unipg_prototype/output/*.txt
unipg_prototype/output/*.csv
unipg_prototype/output/*.json
unipg_prototype/output/*.png
unipg_prototype/output/*.pdf

custom_modules/__pycache__/